# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/*
*.iml
*.ipr
*.iws
target/*
.DS_Store
vs.bin
App_Data/*
node_modules
client/.angular
src/main/resources/static/*
!src/main/resources/static/angular/
!src/main/resources/static/angular/**
node/
etc/
package-lock.json
cp.txt
Licenses/*
!Licenses/.gitkeep
DocumentSamples/*
!DocumentSamples/.gitkeep

#License files
*.lic
