<!DOCTYPE html>
<html lang="en" ng-app="GroupDocsAnnotationApp">
<head>
    <title>GroupDocs.Annotation for Java</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/icon?family=Material+Icons|Roboto+Condensed:400,700'>
    <link rel='stylesheet' href='style.css'>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.min.js"></script>
    <script src="app.js"></script>
    <script src="app.factory.annotation.js"></script>
    <script src="app.factory.replies.js"></script>
    <script src="app.factory.reply.js"></script>
    <script src="app.directive.gdxAnnoPage.js"></script>
    <script src="app.controller.pageCanvas.js"></script>
    <script src="app.controller.thread.js"></script>
    <script src="app.controller.tools.js"></script>
</head>
<body ng-cloak>

<md-toolbar ng-controller="ToolbarController" layout="row" class="md-toolbar-tools md-scroll-shrink md-whiteframe-4dp">
    <md-button class="md-icon-button" aria-label="Show User List">
        <md-icon>menu</md-icon>
    </md-button>
    <h1>GroupDocs.Annotation for Java</h1>
    <span flex></span>
    <md-button class="md-icon-button" ng-href="/download/annotated?file={{ selectedFile }}" target="_blank">
        <md-icon>file_download</md-icon>
        <md-tooltip>Download the annotated file</md-tooltip>
    </md-button>
    <div ng-controller="AvailableFilesController">
        <md-select ng-model="selectedFile" aria-label="Files" ng-disabled="true">
            <md-option ng-value="item" ng-repeat="item in list">{{ item }}</md-option>
        </md-select>
    </div>
    <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
    </md-button>
</md-toolbar>
<md-content flex layout="row">
    <div layout="column" ng-controller="ToolsController">
        <div flex layout="column" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Select" ng-click="selectSelectTool()">
                <md-icon>pan_tool</md-icon>
                <md-tooltip>Select and Move</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Point" ng-click="selectPointTool()">
                <md-icon>location_on</md-icon>
                <md-tooltip>Point</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Pencil" ng-click="selectPencilTool()">
                <md-icon>edit_mode</md-icon>
                <md-tooltip>Line</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Rectangle" ng-click="selectRectangleTool()">
                <md-icon>check_box_outline_blank</md-icon>
                <md-tooltip>Area</md-tooltip>
            </md-button>
        </div>
    </div>
    <md-content flex id="content" ng-controller="PageCanvasController">
        <md-card ng-repeat="pageInfo in docInfo.pages">
            <gdx-anno-page
                    file="{{ selectedFile }}"
                    number="{{ pageInfo.number }}"
                    width="{{ pageInfo.width }}"
                    height="{{ pageInfo.height }}"
                    oncontextmenu="return false">
            </gdx-anno-page>
        </md-card>
    </md-content>
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="right">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Annotation">
                <md-content class="md-padding">
                    <div ng-controller="ThreadController">
                        <md-card ng-if="selectedAnnotation.guid">
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon>person</md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title" ng-if="selectedAnnotation.creatorName">
                                        {{ selectedAnnotation.creatorName }}
                                    </span>
                                    <span class="md-title" ng-if="!selectedAnnotation.creatorName">
                                        Anonymous
                                    </span>
                                    <span class="md-subhead">
                                        {{ selectedAnnotation.createdOn|date:'HH:mm'}}
                                        on
                                        {{ selectedAnnotation.createdOn|date:'yyyy-MM-dd'}}
                                    </span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-input-container>
                                    <label ng-show="!selectedAnnotation.fieldText">Comments...</label>
                                    <textarea ng-model="selectedAnnotation.fieldText" ng-change="selectedAnnotation.unsaved=true"
                                              aria-label="Comments">
                                    </textarea>
                                </md-input-container>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="Reply"
                                           ng-click="addReply(selectedAnnotation)">
                                    <md-icon>reply</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Save" ng-show="selectedAnnotation.unsaved"
                                           ng-click="saveAnnotationFieldText(selectedAnnotation)">
                                    <md-icon>save</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Delete"
                                           ng-click="deleteAnnotation(selectedAnnotation)">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                        <md-card ng-repeat="reply in selectedAnnotation.replies">
                            <md-card-header>
                                <md-card-avatar>
                                    <md-icon>person</md-icon>
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title" ng-if="reply.userName">
                                        {{ reply.userName }}
                                    </span>
                                    <span class="md-title" ng-if="!reply.userName">
                                        Anonymous
                                    </span>
                                    <span class="md-subhead">
                                        {{ reply.repliedOn|date:'HH:mm'}}
                                        on
                                        {{ reply.repliedOn|date:'yyyy-MM-dd'}}
                                    </span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <md-input-container>
                                    <label ng-show="!reply.message">Reply...</label>
                                    <textarea ng-model="reply.message" ng-change="reply.unsaved=true" aria-label="Reply">
                                    </textarea>
                                </md-input-container>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="Reply"
                                           ng-click="addReply(selectedAnnotation)">
                                    <md-icon>reply</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Save" ng-show="reply.unsaved"
                                           ng-click="saveReplyMessage(reply)">
                                    <md-icon>save</md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Delete"
                                           ng-click="deleteReply(reply.guid)">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>


    </md-sidenav>
</md-content>

</body>
</html>
